body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0fdf4;
    color: #1a3e2e;
}
nav{
    background-color: #10b981;
    padding: 1rem;
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;
}
nav a{
    color: #ffffff;
    text-decoration: none;
    margin: 0 1em;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    transition: background-color 0.3s ease;
    margin-left: 0.5em;
    margin-right: 0.5em;

}
nav a:hover{
    background-color: #047857;
}
h1{
    text-align: center;
    font-size: 3em;
    margin: 1.5em;
    margin-bottom: 2em;
    color: white;
    background-color: lightgreen;
}
article{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1em;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: #e6fef1;
    border-left: 6px solid #10b981;
    padding: 1.5em;
    margin-bottom: 2em;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(16, 185, 129, 0.1);
}

h2 {
    color: #065f46;
    margin-top: 0;
    font-size: 1.8em;
}
.szöveg p {
    margin-bottom: 1em;
    font-size: 1.1em;
    text-align: justify;
}
.kep img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
footer {
    background-color: #10b981;
    color: white;
    text-align: center;
    padding: 1.5rem;
    margin-top: 3rem;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.05);
}